<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>30112857329-l02c2chncesig361mollkm9ut1ebhj0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30112857329-l02c2chncesig361mollkm9ut1ebhj0i</string>
	<key>API_KEY</key>
	<string>AIzaSyBJcVw2NVUEimdsT_1wiL3uGlQJMsK9kYs</string>
	<key>GCM_SENDER_ID</key>
	<string>30112857329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingsoy.down</string>
	<key>PROJECT_ID</key>
	<string>down-55020</string>
	<key>STORAGE_BUCKET</key>
	<string>down-55020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:30112857329:ios:bc8c45dcb157459a</string>
	<key>DATABASE_URL</key>
	<string>https://down-55020.firebaseio.com</string>
</dict>
</plist>